header {
  width: 100%;
  height: 40px;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
  /* justify-items: center; */
  align-items: center;
}

.nav {
  height: 100%;
  border: 1px solid blueviolet;
}
